{% extends 'base.html.twig' %}

{% block title %}Home - Explore Symfony4{% endblock %}

{% block body %}
    <div>
        <h1>Let's Explore Symfony 4</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, doloremque ducimus eius eos eum expedita fugiat incidunt labore molestias optio ratione repellendus repudiandae totam ut voluptas! Illum inventore iste quia?
        </p>
    </div>
{% endblock %}
